// fonts
$font-OS: 'Open Sans', sans-serif;

// colors
$color-white: #fff;
$color-bg: #F6F7F8;
$color-list-border: #EAEDEF;
$color-blue: #859EFF;
$color-header-title: #414C5E;
$color-list-title: #566074;
$color-list-text: #778195;

// dimensions
$header-height: 69px;
$header-width: 1060px;
$content-width: 1060px;
$default-padding: 24px;
$default-margin: 24px;
$min-margin: 5px;

//times
$loading-time: 800ms;


